In [8]:
review_1 = 'The movie was good and we really like it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

In [9]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

In [11]:
review_1_tokens = word_tokenize(review_1)
review_2_tokens = word_tokenize(review_2)
review_3_tokens = word_tokenize(review_3)

In [12]:
review_tokens = set(review_1_tokens).union(set(review_2_tokens)).union(set(review_3_tokens))

In [13]:
len(review_tokens)

18

In [14]:
review_tokens

{'The',
 'and',
 'as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'movie',
 'not',
 'really',
 'the',
 'too',
 'was',
 'we'}

In [15]:
review1_dict = dict.fromkeys(review_tokens,0)

In [16]:
review1_dict

{'The': 0,
 'and': 0,
 'as': 0,
 'boring': 0,
 'but': 0,
 'did': 0,
 'ending': 0,
 'good': 0,
 'it': 0,
 'lengthy': 0,
 'like': 0,
 'movie': 0,
 'not': 0,
 'really': 0,
 'the': 0,
 'too': 0,
 'was': 0,
 'we': 0}

In [23]:
review1_dict = dict.fromkeys(review_tokens,0)
review2_dict = dict.fromkeys(review_tokens,0)
review3_dict = dict.fromkeys(review_tokens,0)

In [18]:
for token in review_1_tokens:
    review1_dict[token]+=1

In [20]:
review1_dict

{'The': 1,
 'and': 1,
 'as': 0,
 'boring': 0,
 'but': 0,
 'did': 0,
 'ending': 0,
 'good': 1,
 'it': 1,
 'lengthy': 0,
 'like': 1,
 'movie': 1,
 'not': 0,
 'really': 1,
 'the': 0,
 'too': 0,
 'was': 1,
 'we': 1}

In [24]:
for token in review_2_tokens:
    review2_dict[token]+=1
    
for token in review_3_tokens:
    review3_dict[token]+=1

In [25]:
reviews_Dict_DF = pd.DataFrame([review1_dict,review2_dict,review3_dict])

In [26]:
reviews_Dict_DF

,The,and,as,boring,but,did,ending,good,it,lengthy,like,movie,not,really,the,too,was,we
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,2,0,2,0
2,0,0,1,0,0,1,0,0,1,1,1,1,1,0,1,1,1,1

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
review_list = [review_1,review_2,review_3]

In [30]:
count_vect = CountVectorizer()

In [31]:
X_counts = count_vect.fit_transform(review_list)

In [32]:
type(X_counts)

scipy.sparse.csr.csr_matrix

In [34]:
X_names = count_vect.get_feature_names()
X_names

['and',
 'as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'movie',
 'not',
 'really',
 'the',
 'too',
 'was',
 'we']

In [36]:
a = pd.DataFrame(X_counts.toarray(),columns=X_names)
a

,and,as,boring,but,did,ending,good,it,lengthy,like,movie,not,really,the,too,was,we
0,1,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1
1,0,0,1,1,0,1,1,0,0,0,1,0,0,2,0,2,0
2,0,1,0,0,1,0,0,1,1,1,1,1,0,1,1,1,1

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')

In [40]:
tf_matrix = tf_vect.fit_transform(review_list)

In [41]:
type(tf_matrix)

scipy.sparse.csr.csr_matrix

In [42]:
tf_matrix.shape

(3, 8)

In [43]:
tf_names = tf_vect.get_feature_names()

In [44]:
tf_names

['boring', 'did', 'ending', 'good', 'lengthy', 'like', 'movie', 'really']

In [45]:
tf_df = pd.DataFrame(tf_matrix.toarray(),columns=tf_names)

In [46]:
tf_df

,boring,did,ending,good,lengthy,like,movie,really
0,0.000000,0.000000,0.000000,0.480458,0.000000,0.480458,0.373119,0.631745
1,0.584483,0.000000,0.584483,0.444514,0.000000,0.000000,0.345205,0.000000
2,0.000000,0.584483,0.000000,0.000000,0.584483,0.444514,0.345205,0.000000